<h1><%= @object["type"] %> <%= @object["identifier"] %></h1>

<p>Parent: <%= link_to @object.data_object.id, object_path(@object.data_object) %></p>

<p>Return to <%= link_to 'Procedures', procedures_path %></p>