<% [[:notice, 'success'], [:warning, 'warning'], [:error, 'danger']].each do |flash_type| %>
  <% if flash[flash_type[0]] %>
    <div class="notice alert-<%= flash_type[1] %>"><%= flash[flash_type[0]] %></div>
  <% end %>
<% end %>