<div class="row backend">
  <div class="col-md-12">
    <span>[remote] <em><%= collectionspace_base_uri %></em> [user] <em><%= collectionspace_username %></em> [domain] <em><%= collectionspace_domain %></em></span>
  </div>
</div>