<hr/>
<footer>
  <p class="text-muted">CollectionSpace is an open-source collections management system developed by the community and stewarded by&nbsp;<a href="http://www.lyrasis.org" target="_new">LYRASIS</a></p>
</footer>