<hr/>
<footer>
  <div class="row">
    <div class="col-md-2"><%= image_tag "cspace-logo", class: "logo" %></div>
    <div class="col-md-10">
      <p class="text-muted">CollectionSpace is an open-source collections management system developed by the community and stewarded by&nbsp;<a href="http://www.lyrasis.org" target="_new">LYRASIS</a></p>
    </div>
  </div>
</footer>