<nav class="navbar navbar-dark bg-inverse">
  <%= link_to 'cspace-converter', '#', class: 'navbar-brand' %>
  <ul class="nav navbar-nav">
    <li class="nav-item"><%= button_tag 'Nuke', class: 'btn btn-danger-outline' %></li>
  </ul>
  <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-success-outline" type="submit">Search</button>
  </form>
</nav>