<div class="row">

  <%= render partial: 'shared/sidebar' %>

  <div class="col-md-10">
    <%= render partial: 'shared/alerts' %>
    <div class="jumbotron">
      <h1>Converter</h1>
      <p class="lead">Migrate denormalized or semi-structured data to CollectionSpace from CSV.</p>
      <p><%= link_to 'Import data', import_path, class: "btn btn-lg btn-success" %></p>
    </div>
  </div>

</div>